img{
    max-width: 100%;
}

.nav-logo{
    width: 5vw;
    min-width: 55px;
}

.cat-container img, .pro-container img{
    border: 1px solid #e2e2e2;
    padding: 20px;
    height: 150px;
    width: 100%;
    object-fit: contain;
}


span {cursor:pointer; }

.minus, .plus{
    width:20px;
    height:20px;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    box-sizing: content-box;
}
.number input{
    box-sizing: content-box;
    height:34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}

#alert{
    display: none;
}

.delete{
    width: 18px;
}